<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>kamranpirwani</string>
	<key>password</key>
	<string>8ecead9714a3b6db400136c1b68134fe83aa72eb</string>
</dict>
</plist>
