<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>username</key>
	<string>kamranpirwani</string>
	<key>password</key>
	<string>5eb7ba0f8ed014623dcdf82cc9a953cdf4cf922a</string>
</dict>
</plist>
